.calBody {
    background-color: rgb(255, 255, 255);
    
    font-family: 'KyoboHand';
    min-height: 650px;
    height: 92vh;
    min-width: 1100px;
    width: 82vw;
    overflow: scroll;
}

/* 헤더 칸 시작 */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px;

    width: 1159px;
}

.year {
    font-weight: 600;
    font-size: 40px;
    line-height: 61px;
    letter-spacing: -0.02em;
    color: #000000;
}

.month {
    font-weight: 600;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: -0.02em;
    color: #000000;

    padding-left: 40px;
    padding-right: 40px;

    /* background-color: green; */
}

.plusSchedule {
    display: inline-block;
    margin:10px;
    margin-left: 10px;
    color: #FFAB72;
    width: 115px;
    height: 40px;
    background: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    border:0;
    outline:0;
    border-radius: 10px;
}
.plusSchedule:hover{
    display: inline-block;
    margin:10px;
    margin-left: 10px;
    width: 115px;
    height: 40px;
    color: #ffffff;
    background: #FFAB72;;
    font-weight: bold;
    font-size: 20px;
    border:0;
    outline:0;
    border-radius: 10px;
}

/* 헤더 칸 끝 */


/* 요일 칸 시작*/
/* 요일 칸 레이아웃 */
.col {
    border-right: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;
    border-top: 1px solid #D9D9D9;  
    height: 5%;
    text-align: center;
    justify-content: center;
}

/* 요일 칸 끝*/


/* 달력칸 시작 */
table {
    width: 100%;
    border-collapse: collapse;
}

.tr {
    width: 100%;
    height: 150px;
    vertical-align : top;
}

.td {
    border-right: 1px solid #D9D9D9;
    border-left: 1px solid #D9D9D9;
    border-bottom: 1px solid #D9D9D9;

    width: 12.9%;
    
    font-weight: 500;
    font-size: 24px;

    vertical-align : top;
}

.td.not-valid {
    visibility: hidden;
}

