.fixBtn{
    position: relative;
    left: 80%;

    width: 100px;
    height: 35px;
    font-family: 'KyoboHand';
    font-weight: 700;
    font-size: 18px;
    border-radius: 5px;
    color: #FFAB72;
    background-color : transparent;
    border: none;
}
.fixBtn:hover{
    color: #ffffff;
    background: #FFAB72;;
}

.box {
    width: 860px;
    height: 500px;
    display: flex;
    font-family: 'KyoboHand';
}

.left{
    width: 410px;
    display: inline-block;

    padding: 10px;
    margin: 10px;

    /* float: left;
    width: 430px;
    height: 500px; */
/* 
    text-align: left; */
}   

.right {
    width: 410px;
    display: inline-block;

    padding: 10px;
    margin: 10px;

}

.title {
    background-color: #FFFBF7;
    border: 1px solid #FFAB72;
    border-radius: 5px;

    width: 250px;
    margin: 5px;

    float: right;
    padding: 3px;

    font-weight: bold;
}

.contents {
    background-color: #FFFBF7;
    border: 1px solid #FFAB72;
    border-radius: 5px;

    width: 250px;
    margin: 5px;

    float: right;
    padding: 3px;
}

.detail {
    background-color: #FFFBF7;
    border: 1px solid #FFAB72;
    border-radius: 5px;

    width: 250px;
    height: 110px;
    margin: 5px;
    padding: 3px;
    float: right;
}

label {
    margin: 10px;
    vertical-align: top;
    color: gray;
}

